body{
    background-color: rgb(102, 0, 20);
    color: darkkhaki;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.c13{

    font-style: italic;
}


