h1 {
    color: darkgreen;
    justify-content: center;
    text-align: center;
}
html, body{

    background-color: #f1dfa1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5cm;
    line-height: 20px;
    
    
}
.chapter{

    line-height: 40px;
}

table{

    display: flex;
    justify-content: center;
    text-align: center;

    
}
.headers{

    
    justify-content: center;
    text-align: center;
}